        <footer>
            <div class="container py-5 mt-5">
                <p class="text-center mb-5">Ⓒ 2019 The Future Newspaper</p>
                <div class="row">
                    <div class="col-md-4">
                        <h5><strong>LEGAL</strong></h5>
                        <p><a href="#">Terms and Conditions</a></p>
                        <p><a href="#">User Agreement</a></p>
                    </div>
                    <div class="col-md-4">
                        <h5><strong>HELPFUL LINKS</strong></h5>
                        <p><a href="/">Home</a></p>
                        <p><a href="/articles">Article Index</a></p>
                        <p><a href="/articles/new">New Article</a></p>
                        <p><a href="/login">Login</a></p>
                        <p><a href="/signup">Sign Up</a></p>
                    </div>
                    <div class="col-m-4">
                        <h5><strong>SOCIAL MEDIA</strong></h5>
                        <p><a href="#">Instagram</a></p>
                        <p><a href="#">Facebook</a></p>
                        <p><a href="#">Twitter</a></p>
                    </div>
                </div>
            </div>
                
        </footer>
        
        
        <script src="/js/main.js"></script>
        
         <!--BOOTSTRAP-->
        <script src="https://code.jquery.com/jquery-3.3.1.spm.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/pbs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
    </body>
</hmtl>
