<% include partials/header %>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qfl8c1q0v2i0bi0p0nzwhazgwys66ro94n2kd7s6vka0e228"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "#tinymce",
        theme: "modern",
        
        height: 400,

        plugins: "autolink anchor link preview code lists table hr wordcount",

        toolbar: [
            'undo redo | formatselect | bold italic underline strikethrough superscript subscript',
            'bullist numlist | hr | link | table  | preview code'
        ],
        menubar: false,
        branding: false,
        
    });
</script>

<div class="container my-5">
    <h1>New Article</h1>
    <form action="/articles" method="POST">
        <div class="form-group">
            <label for="articleTitle">Article Title</label>
            <input id="articleTitle" class="form-control" type="text" name="article[title]" placeholder="E.g. How to be like August">
        </div>
        <div class="form-group">
            <label for="articleSubtitle">Article Subtitle</label>
            <input id="articleSubtitle" class="form-control" type="text" name="article[subtitle]" placeholder="E.g. A comprehensive guide to becoming superior to the people around you">
        </div>
        <div class="form-group">
            <label for="articleImage">Image URL</label>
            <input id="articleImage" class="form-control" type="text" name="article[image]" placeholder="https://www.example.com/my-image.jpeg">
        </div>
        <div class="form-group">
            <label for="tinymce">Article Body</label>
            <textarea class="form-control" id="tinymce" name="article[body]"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input class="form-control" id="tags" name="article[tags]" placeholder="E.g. Lifestyle, Philosophy">
        </div>

        <input type="submit" class="btn btn-primary btn-lg mr-2" value="Publish Article">
        <a href="/articles">Go Back</a>
    </form>
</div>


<% include partials/footer %>